<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-gema-sign-dm>` description.

Example:

```html
<cells-gema-sign-dm></cells-gema-sign-dm>
```

@demo demo/index.html
-->
<dom-module id="cells-gema-sign-dm">
  <template>

    <cells-generic-dp></cells-generic-dp>

  </template>
  <script src="cells-gema-sign-dm.js"></script>
</dom-module>
